{% extends 'base.html.twig' %}

    {% block content %}

    
    <h2> Objet requeste </h2>

    <pre> {{ request }} </pre>
    <pre> {{ number }} </pre>
    <pre> {{ letter }} </pre>

    {% endblock %}